<html>

<head>
    <title>alipay f2f example page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <style>
        
    </style>
</head>
<body>
    <div class="top-message">
        
    </div>
    <div class="main">
        <h1>404</h1>
    </div>
    <script>
        
    </script>
</body>

</html>